<h1>About Tyche</h1>
<h2>What is Tyche</h2>
<p>
    You and your friends own a ton of games. You want to play something together, but there are too many games to choose
    from! And everyone has a different favorite! Enter Tyche.
</p>
<h2>Key Terms</h2>
<ul>
    <li>
        <strong>Session:</strong> Put everyone who's playing in a session, and sync your common games to generate a list
        of all the games that everyone owns.
    </li>
    <li>
        <strong>Custom Games:</strong> Tyche can't know everything you and your friends might want to do! Maybe you all
        would be open to buying a game if it was rolled. Maybe you want to play something not on a platform like
        <a href="https://skribbl.io/">skribbl.io</a>. Maybe you and your friends eventually want to have a watch party
        for that movie you always reference. Whatever it is, you can add as a custom game.
    </li>
    <li>
        <strong>Bans:</strong> Bans will never be chosen. Not every game is fun every time. Make sure you
        <em>all</em> agree on what's banned and what isn't before you click Choose Game! (or at least most of you agree)
    </li>
</ul>
<hr />
<h3>Creator</h3>
<p>
    Tyche was made by @m40l (<a href="https://github.com/m40l">github.com/m40l</a>) for when m40l and friends had plenty
    of games they could play, but they couldn't decide.
</p>

<h3>Pronunciation Guide</h3>
<ul>
    <li><strong>Tyche:</strong> Tie-Kee, like her distant relative and the shoe company Nike.</li>
    <li>
        <strong>m40l:</strong> That's a zero, so it's m-forty-l (em-for-tee-ell). Why m40l? It's a puzzle. I think the
        solution is fun.
    </li>
</ul>
